#root {
  max-width: 1400px;
  margin: 0 auto;
  padding: 1rem;
  /* padding-top: 1rem; */
  background: var(--accent);
  text-align: center;
  position: relative;
  min-height: 100vh;
}

.landing-cover {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% - 2rem);
  z-index: 100;
  box-shadow: inset 0 0 20px var(--accent);
  pointer-events: none;
  transition: top 0.3s ease, height 0.3s ease;
  
  /* Default: Somewhere in the middle */
  top: -1rem;
  height: calc(100vh + 2rem);
  max-width: 1248px;
}

.landing-cover[data-at-top="true"] {
  top: 1rem;
  height: calc(100vh + 1rem);
}

.landing-cover[data-at-bottom="true"] {
  height: calc(100vh - 0rem);
}

.landing-cover[data-at-top="true"][data-at-bottom="true"] {
  height: calc(100vh - 2rem);
}


.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
