#root {
  margin: 0;
  padding: 0;
  background: var(--bg-void);
  text-align: center;
  position: relative;
  min-height: 100vh;
}

.landing-cover {
  position: fixed;
  left: 0;
  width: 100%;
  z-index: 100;
  box-shadow: inset 0 0 20px var(--accent);
  pointer-events: none;
  transition:
    top 0.3s ease,
    height 0.3s ease;

  /* Default: Somewhere in the middle */
  top: 0;
  height: 100vh;
}

.landing-cover[data-at-top="true"] {
  top: 0;
  height: 100vh;
}

.landing-cover[data-at-bottom="true"] {
  height: 100vh;
}

.landing-cover[data-at-top="true"][data-at-bottom="true"] {
  height: 100vh;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
